.minicart-widget { width: 100%; margin: 0 0 20px; padding: 15px 0 10px; display: inline-block; vertical-align: top; text-align: center; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: rgba(0,0,0,0.3) 2px 4px 6px; -moz-box-shadow: rgba(0,0,0,0.3) 2px 4px 6px; box-shadow: rgba(0,0,0,0.3) 2px 4px 6px; }
.minicart-widget .minicart-widget-image-outer img { margin: 0 auto 15px; }
.minicart-widget p { font-size: 14px; line-height: 20px; color: #5c5e64; margin: 0 0 10px; }
.minicart-widget p:last-of-type { margin-bottom: 0; }
.minicart-widget .minicart-widget-content{padding: 4px;}